/**
 * author: Egide
* @file font.css
* @description Font face declarations for the project. This file is imported in _app.js and is therefore applied to all pages.
*/

@font-face {
  font-family: 'Alliance';
  src: url('/fonts/Alliance.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'InterTight';
  src: url('/fonts/InterTight-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'InterTight';
  src: url('/fonts/InterTight-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'InterTight';
  src: url('/fonts/InterTight-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'InterTight';
  src: url('/fonts/InterTight-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'InterTight';
  src: url('/fonts/InterTight-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'InterTight';
  src: url('/fonts/InterTight-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'InterTight';
  src: url('/fonts/InterTight-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'InterTight';
  src: url('/fonts/InterTight-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'InterTight';
  src: url('/fonts/InterTight-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'InterTight';
  src: url('/fonts/InterTight-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'InterTight';
  src: url('/fonts/InterTight-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'InterTight';
  src: url('/fonts/InterTight-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'InterTight';
  src: url('/fonts/InterTight-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'InterTight';
  src: url('/fonts/InterTight-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'InterTight';
  src: url('/fonts/InterTight-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'InterTight';
  src: url('/fonts/InterTight-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'InterTight';
  src: url('/fonts/InterTight-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'InterTight';
  src: url('/fonts/InterTight-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

/* WhyteInktrap Fonts */
@font-face {
  font-family: 'WhyteInktrap';
  src: url('/fonts/WhyteInktrap-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'WhyteInktrap';
  src: url('/fonts/WhyteInktrap-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'WhyteInktrap';
  src: url('/fonts/WhyteInktrap-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'WhyteInktrap';
  src: url('/fonts/WhyteInktrap-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'WhyteInktrap';
  src: url('/fonts/WhyteInktrap-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'WhyteInktrap';
  src: url('/fonts/WhyteInktrap-BookItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'WhyteInktrap';
  src: url('/fonts/WhyteInktrap-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'WhyteInktrap';
  src: url('/fonts/WhyteInktrap-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'WhyteInktrap';
  src: url('/fonts/WhyteInktrap-Heavy.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'WhyteInktrap';
  src: url('/fonts/WhyteInktrap-HeavyItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'WhyteInktrap';
  src: url('/fonts/WhyteInktrap-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'WhyteInktrap';
  src: url('/fonts/WhyteInktrap-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'WhyteInktrap';
  src: url('/fonts/WhyteInktrap-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'WhyteInktrap';
  src: url('/fonts/WhyteInktrap-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'WhyteInktrap';
  src: url('/fonts/WhyteInktrap-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'WhyteInktrap';
  src: url('/fonts/WhyteInktrap-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WhyteInktrap';
  src: url('/fonts/WhyteInktrap-Super.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'WhyteInktrap';
  src: url('/fonts/WhyteInktrap-SuperItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'WhyteInktrap';
  src: url('/fonts/WhyteInktrap-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'WhyteInktrap';
  src: url('/fonts/WhyteInktrap-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
