/**
  * This file is used to define global styles for the application.
  * It is imported in _app.js and is therefore applied to all pages.
  * It is also used to define Tailwind CSS classes and components.
  */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Alliance', sans-serif;
  background-color: #09090d;
}

h1 {
  font-family: 'InterTight', sans-serif;
}

.alliance-2 {
  font-family: 'Alliance', sans-serif !important;
}

.inter-tight {
  font-family: 'InterTight', sans-serif !important;
}

p {
  font-size: 2vh;
  font-weight: normal !important;
}

.button-gradient {
  /* linear gradient of three colors  */
  background: linear-gradient(260deg, #19242c 0%, #09090d 53%, #1c110e 100%);
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #173440;
}

/* header */
.header_grassmorpshism {
  background: rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0 20px 0 hsla(0, 0%, 100%, 0.1) !important;
  -webkit-backdrop-filter: blur(20px) !important;
  border-radius: 100px !important;
  border: 1px solid var(--stroke, hsla(0, 0%, 100%, 0.2)) !important;
  backdrop-filter: blur(20px) !important;
}

.grassmorphism_bg {
  background: rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0 20px 0 hsla(0, 0%, 100%, 0.1) !important;
  -webkit-backdrop-filter: blur(20px) !important;
  backdrop-filter: blur(20px) !important;
}

.ant-modal-content {
  background: rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0 20px 0 hsla(0, 0%, 100%, 0.1) !important;
  -webkit-backdrop-filter: blur(20px) !important;
  border: 1px solid var(--stroke, hsla(0, 0%, 100%, 0.2)) !important;
  backdrop-filter: blur(20px) !important;
}

.ant-modal-content svg {
  color: white;
}

.welcome-bg {
  /* background-image: url('/images/welcome-background.png'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/** steps */
.ant-steps-item-title {
  color: white !important;
  font-size: 3vh !important;
  font-weight: bold;
}

.ant-steps-item-description {
  color: #bdbdbe !important;
  font-size: 2vh !important;
}

.ant-steps-item-content {
  margin: 1vh 0 !important;
}

.ant-collapse-item {
  background: #27272d;
  margin: 2.5vh 0;
  border: none !important;
  border-radius: 15px !important;
  padding: 1.5vh !important;
}

.ant-collapse-item:hover {
  background-color: #19191e;
  transition: ease-in-out;
}

span.ant-collapse-header-text {
  color: white;
  font-size: 3vh;
  font-weight: 900;
}

/** mobile responsiveness */
@media (max-width: 768px) {
  .ant-steps-item-title {
    font-size: 2.5vh !important;
  }

  .ant-steps-item-description {
    font-size: 1.5vh !important;
  }

  .ant-collapse-item {
    margin: 1vh 0;
  }

  span.ant-collapse-header-text {
    font-size: 2.5vh;
  }
}

.ant-collapse-content-box {
  color: #bdbdbe !important;
  font-size: 2vh;
}

.ant-collapse-expand-icon {
  color: white !important;
}

.ant-steps-item.ant-steps-item-finish .ant-steps-item-title,
.ant-steps-item.ant-steps-item.ant-steps-item-finish
  .ant-steps-item-description {
  opacity: 0.6 !important;
}

.ant-slider.ant-slider-disabled .ant-slider-track {
  background-color: #22babc !important;
}

.ant-slider.ant-slider-disabled .ant-slider-rail {
  background-color: #9d9d9e !important;
}

.ant-select-selector {
  background: #09090d !important;
  color: #9d9d9e !important;
  font-size: 1.7vh !important;
  border: 1px solid #1c1c1f !important;
  font-family: 'Alliance', sans-serif !important;
}

/* components/ScrollImage.module.css */
.ant-steps
  .ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  background-color: #348687 !important;
}

span.ant-progress-text.ant-progress-text-end.ant-progress-text-outer {
  color: #9d9d9e !important;
}

span.ant-progress-text.ant-progress-text-inner {
  color: #9d9d9e !important;
}

.ant-progress-small:where(.css-dev-only-do-not-override-3rel02).ant-progress-line, .ant-progress-small:where(.css-dev-only-do-not-override-3rel02).ant-progress-line .ant-progress-text .anticon

.ant-progress-inner {
  background: #474748 !important;
}

.ant-steps-item-icon {
  background: #9ff8ee !important;
  border-color: #9ff8ee !important;
}

.ant-steps-item.ant-steps-item-process.ant-steps-item-active {
  opacity: 1 !important;
}

.ant-steps-item.ant-steps-item-process.ant-steps-item-active
  .ant-steps-item-icon {
  background: #22babc !important;
  border-color: #22babc !important;
}

.ant-steps-item.ant-steps-item-finish svg {
  color: #348888 !important;
}

.ant-steps-item.ant-steps-item-finish,
.ant-steps-item {
  opacity: 0.3 !important;
}
