/**
  * This file is used to define global styles for the application.
  * It is imported in _app.js and is therefore applied to all pages.
  * It is also used to define Tailwind CSS classes and components.
  */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Degarism Studio - Alliance No.2 Light', sans-serif;
  background-color: #09090d;
}

h1 {
  font-family: 'InterTight', sans-serif;
}

.alliance-2 {
  font-family: 'Degarism Studio - Alliance No.2 Light', sans-serif !important;
}

.inter-tight {
  font-family: 'InterTight Black', sans-serif !important;
}

p {
  font-size: 2vh;
  font-weight: normal !important;
}

.button-gradient {
  /* linear gradient of three colors  */
  background: linear-gradient(260deg, #19242c 0%, #09090d 53%, #1c110e 100%);
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #173440;
}
